header, section, footer
{
    border: 3px red outset;
    width: 1200px;
    margin: auto;
}

header
{
    display: flex;
    justify-content: space-around;
}

.banniere
{
    width: 1200px;
    display: block;
    margin: auto;
}

#box
{
    width: 1100px;
    height: 150px;
    border:  3px red outset;
    margin: auto;
}
